@import "~taro-ui/dist/style/components/avatar.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/input.scss";
.change-email {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 20px 10px 10px;
  background: #ffffff;

  &-item {
    position: relative;
    padding-top: 20px;

    &-input {
      font-size: 18px;
      color: #666666;

      &-placeholder {
        font-size: 18px;
        color: #666666
      }
    }
  }

  &-button {
    background-color: rgb(207, 8, 94);
    border-radius: 10px;
    text-align: center;
    padding: 25px;
    margin: 25px;

    >text {
      color: white;
      font-size: 30px;
    }
  }

  &-regandforget {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-top: 15px;
  }
}