@import "~taro-ui/dist/style/components/icon.scss";
.find {
  position: relative;
  &-category {
    padding-top: 8px;
    padding-bottom: 8px;
    &-texta {
      padding: 5px;
      color: #aaa7a7;
      border: 1px solid #aaa7a7;
      margin-left: 5px;
      border-radius: 4px;
      font-size: small;
    }
  }
  &-list {
    width: 100%;
    &-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      &-customer {
        display: flex;
        width: 100%;
        align-items: center;
        &-avatar {
          width: 15vw;
          & > image {
            width: 11vw;
            height: 11vw;
            border-radius: 4vw;
            padding: 2vw;
          }
        }
        &-right {
          width: 85vw;
          padding-left: 2vw;
          &-username {
            color: #313030;
            display: block;
          }
          &-date {
            color: #aaa7a7;
            font-size: small;
          }
        }
      }
      &-title {
        color: #707070;
        font-size: small;
        padding-bottom: 2vw;
        padding-left: 16vw;
        padding-right: 1vw;
      }
      &-images {
        padding-left: 16vw;
        & > image {
          width: 20vw;
          height: 20vw;
          border-radius: 1vw;
          margin: 1vw;
        }
      }
      &-bottom {
        text-align: right;
        color: #707070;
        font-size: small;
        padding-right: 1vw;
      }
    }
  }
}
